@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb{
  background-color: #f13848;
  border-radius: 10px;
}

::selection{
    background-color: #f13848;
    color: #fff;
}